<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>

        <link rel="stylesheet" href="./stylesheets/global.css">
        <link rel="stylesheet" href="./stylesheets/leaderboard.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="shortcut icon" type="image/ico" href="./assets/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div>
            <ul class="nav">
                <% if (user==undefined) {%>
                    <li><button onclick="showLogin()">Login</button></li>
                <% } else {%>
                    <li><form action="/logout?_method=DELETE" method="POST"><button>Logout</button></form></li>
                <% } %>

                <li><a href="/leaderboard">Leaderboard</a></li>
            
                <span><a href='/'><img src='./assets/corelogo-new.png'></a></span>
            </ul>
        </div>

        <div class="main">
            <h1>LEADERBOARD</h1>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>School</th>
                    <th>Score</th>
                </tr>
                <% ranks.forEach(function(rank, i){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <% if (user!==undefined){ %>
                            <% if (user.admin == true) {%>
                                <td><a href='/logs/<%= rank.username %>'><%= rank.username %></a></td>
                            <% } else {%>
                                <td><%= rank.username %></td>
                            <% } %>
                        <% } else {%>
                            <td><%= rank.username %></td>
                        <% } %>
                        <td><%= rank.school %></td>
                        <td><%= rank.score %></td>
                    </tr>
                <% }) %>
            </table>
        </div>


        <div class="modal" id="modal">
            <div class="modal-content">
                <div class="header">
                    <span>LOGIN</span>
                    <button onclick="hideLogin()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                <div class="form">
                    <form action="/login" method="POST">
                        <input type="text" name="username" placeholder="Username" required>
                        <br>
                        <input type="password" name="password" placeholder="Password" required>
                        <br>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        var modal = document.getElementById('modal')

        function showLogin(){
            modal.style.display='block'
        }

        function hideLogin(){
            modal.style.display='none'
        }

        window.onclick = (event) => {
            if (event.target == modal){
                modal.style.display='none'
            }
        }
    </script>
</html>