<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>

        <link rel="stylesheet" href="./stylesheets/global.css">
        <link rel="stylesheet" href="./stylesheets/play.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="shortcut icon" type="image/ico" href="./assets/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div>
            <ul class="nav">
                <li><form action="/logout?_method=DELETE" method="POST"><button>Logout</button></form></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
            
                <span><a href='/'><img src='./assets/corelogo-new.png'></a></span>
            </ul>
        </div>

        <div class="main">
            <div>
                <table>
                    <tr>
                        <td id="sample"><font color='#f26227'>NAME:</font> <%= user.username %></td>
                        <td><font color='#f26227'>SCHOOL:</font> <%= user.school %></td>
                        <td><font color='#f26227'>SCORE:</font> <%= user.score %></td>
                    </tr>
                </table>
            </div>
            <br><br>
            <div>
                <% ques.forEach(function(question, i) {%> 
                    <div class="question">
                        <h1>Question <%= i+1 %> <span><%= question.score %></span></h1>
                        <br>
                        <% if (user.admin == true){ %>
                            <h2><a href='/ques/<%= question.number %>'><%= question.question %></a></h2>
                        <% } else{ %>
                            <h2><%= question.question %></h2>
                        <% } %>
                        <br>
                        <form action="/play/<%= question.number %>" method="POST">
                            <input type="text" name="answer" placeholder="type your answer..." autocomplete="off" id="<%= question.number %>i">
                            <br>
                            <input type="submit" value="SUBMIT" id="<%= question.number %>" class="submit">
                        </form>
                    </div>
                <% }) %> 
            </div>
        </div>
    </body>
    <script>
        const input = document.getElementsByClassName('submit');
        const disable = '<%= dis %>'.split(' ');

        for(let i=0; i<input.length; i++){
            if (disable.includes(input[i].id)){
                const index = disable.indexOf(input[i].id)
                document.getElementById(input[i].id).disabled = true;
                document.getElementById(input[i].id).style.opacity = 0.5;
                document.getElementById(input[i].id+'i').value = disable[index+1];
                document.getElementById(input[i].id+'i').readOnly = true;
            }
        }
    </script>
</html>
